header
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav
{
  position: relative;
  background: var(--noir);
  display: flex;
  justify-content: center;
  align-items: center;
}

section
{
  position: relative;
  padding: var(--space-4x);
}

.d-flex
{
  display: flex;
  width: 100%;
}

.services
{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-gap: var(--space-4x);
  margin: 0;
  padding: 0;
}

.service
{
  position: relative;
  list-style: none;
  margin: 0;
}

.cait
{
  padding: var(--space-4x);

  display: grid;
  /* grid-template-columns: minmax(100px, 300px) minmax(auto, 600px); */
  grid-gap: var(--space-4x);
  justify-content: center;
}

.nav-social
{
  display: flex;
}

.nav-social-item
{
  margin: var(--space-lg) var(--space-3x) var(--space-lg) 0;
  display: inline-flex;
  color: var(--noir);
  text-decoration: none;
}

@media only screen and (min-width: 768px)
{
  .services
  {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cait
  {
    grid-template-columns: minmax(100px, 300px) minmax(auto, 600px);
  }

  .salon
  {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-content: center;
    grid-template-columns: auto auto;
  }
}