details
{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

summary
{
  display: inline;
  padding: var(--space-2x);
  color: var(--clear);
  font-weight: var(--font-weight-default);
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background: var(--sorcery);
}

summary:hover,
summary:focus
{
  background: var(--gradient-primary);
  background-size: 400% 400%;
  -webkit-animation: animatedGradient 10s linear infinite;
  -moz-animation: animatedGradient 10s linear infinite;
  -o-animation: animatedGradient 10s linear infinite;
  animation: animatedGradient 10s linear infinite;
}

summary:focus
{
  outline-offset: -2px;
}

summary > span
{
  margin-right: var(--space-md);
}

summary::-webkit-details-marker
{
  display: none;
}

summary > svg
{
  width: 1rem;
  height: 1rem;
  transition: all 0.5s ease;
  transform: translateY(3px);
}

details[open]
{
  flex-direction: column;
  bottom: 0;
  height: 100%;
  width: 60vw;
  text-align: right;
  overflow-y: auto;
  background: var(--noir);
}

details[open] summary > svg
{
  transform: rotate(-180deg);
  transition: all 0.5s ease;
}

details[open] summary ~ *,
details:not([open]) summary ~ *
{
  animation: openMenu .5s ease-in-out;
}

@keyframes openMenu
{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nav
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--space-2x);
}

.nav-item
{
  margin: var(--space-md) 0;
  border-bottom-width: var(--space-xs);
  border-bottom-style: solid;
  border-bottom-color: transparent;
  color: var(--clear);
  font-size: var(--fs-3);
  text-decoration: none;
}

.nav-item:hover,
.nav-item:focus,
.nav-item:active,
.nav-item.active
{
  border-color: var(--cupid);
  color: var(--clear);
  text-decoration: none;
}

.nav-item:focus
{
  outline-color: var(--cupid);
}