.table-services
{
  margin-top: 0;
  border: 0;
}

.table-services tr
{
  grid-template-columns: none;
  grid-template-rows: auto;
  margin-top: var(--space-md);
}

.table-services th,
.table-services td
{
  border: 0;
  padding: 0;
}

.table-services th
{
  margin-top: var(--space-md);
}

.table-services td
{
  margin-top: var(--space-sm);
}

.table-services th
{
  font-weight: var(--font-weight-default);
}

@media only screen and (min-width: 768px)
{
  .table-services
  {
    margin-top: var(--space-2x);
    border-top: 0.063rem solid var(--noir);
    border-bottom: 0.063rem solid var(--noir);
  }

  .table-services tr
  {
    grid-template-columns: 2fr 3fr;
    margin-top: 0;
    vertical-align: top;
  }

  .table-services th,
  .table-services td
  {
    margin-top: 0;
    border-bottom: 0.063rem solid var(--noir);
    padding: var(--space-sm) var(--space-lg);
  }

  .table-services tr:last-child > *
  {
    border-bottom: 0;
  }

  .table-services tr > *:first-child
  {
    padding-left: 0;
  }

  .table-services tr > *:last-child
  {
    padding-right: 0;
  }
}