table
{
  width: 100%;
  margin-top: var(--space-2x);
  border-spacing: 0;
  border-top: 0.063rem solid var(--noir);
  border-bottom: 0.063rem solid var(--noir);
}

tr
{
  display: grid;
  grid-template-columns: 2fr 3fr;
  vertical-align: top;
}

th
{
  font-weight: var(--font-weight-subtle);
}

th,
td
{
  border-bottom: 0.063rem solid var(--noir);
  padding: var(--space-sm) var(--space-lg);
  text-align: left;
}

tr:last-child > *
{
  border-bottom: 0;
}

tr > *:first-child
{
  padding-left: 0;
}

tr > *:last-child
{
  padding-right: 0;
}

.table-services
{
  margin-top: 0;
  border: 0;
}

.table-services tr
{
  grid-template-columns: none;
  grid-template-rows: auto;
  margin-top: var(--space-md);
}

.table-services th,
.table-services td
{
  border: 0;
  padding: 0;
}

.table-services th
{
  margin-top: var(--space-md);
}

.table-services td
{
  margin-top: var(--space-sm);
}

.table-services th
{
  font-weight: var(--font-weight-assertive);
}